<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.facility"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="br.com.facility.MainActivity"
            android:label="Facility" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.facility.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.facility.UsuarioCadastroActivity"
            android:label="@string/title_activity_usuario_cadastro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />

            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.facility.EspecialidadeActivity"
            android:label="Serviços" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.facility.NegociacaoProfissionalListActivity"
            android:label="@string/title_activity_negociacao_profissional_list" >
        </activity>
        <activity
            android:name="br.com.facility.AtividadeListActivity"
            android:label="Atividades" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
            </intent-filter>
        </activity>
    </application>

</manifest>
